################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ffrd-sampling-demo/bin/Debug/net8.0
/ffrd-sampling-demo/obj
